table * {
    margin: 2px;
    padding: 0px;
    position: relative;
    background: transparent;
}

table {
    border-spacing: 0;
    border-collapse: separate;
    background: transparent;
    border-radius: 0px;
    overflow: visible;
    width: 80%;
    height: auto;
    font-size: 20px;
  }

table th {
    text-align: left;
    font-size: 40px;
    font-weight: 600;
    height: 120px;
}

table td {
    text-align: left;
    vertical-align: middle;
    height: 80px;
}

td {
    line-height: auto;
    width: 25%;
}

img {
  width: 320px;
  height: 320px;
  }

.btn{
  margin-left: 0;
  float: left;
}

.btn-block {
    display: block;
    width: 100%;
    height: 50px;
    padding-left: 0;
    padding-right: 0;
  }
.wrapbtn {
  margin-left: 5%;
  width: 90%;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="email"]
{
  width: 80%;
  font-size: 20px;
}

#bemutatkozas {
  display: inline-block;
  resize: none;
  width: 100%;
  height: 150px;
  text-align: left;
  vertical-align: middle;
  color: white;
}

.wrapper {
  margin: 0;
  padding: 0;
  display: block;
  float: left;
  width: 50%;
  height: auto;
}

